.home_image {
  position: relative;
  margin-top: 10px;
  margin-left: 500px;

  height: 800px;
  width: 1000px;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .home_button {
    width: 200px;
    font-size: 15px;
  }
  .home_heading {
    font-size: 50px;
    line-height: 50px;
  }
  .home_background {
    height: 25vw;
    margin-top: 92vw;
  }
  .home_image {
    width: 80%;
  }
  .home_main_container {
    margin-top: 20%;
  }
}
